<?php
/**
 * Copyright © 2015 excellencecommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Excellence\Gst\Block\Gst\Index
 */


echo $block->hello;
?>
<br/>
update content from Gst\view\frontend\templates\gst\index.phtml